extends layout

block styles
    //- Load Style(s) -//
    link(rel="icon" type="image/png" href="resources/favicon_about.png")

block header_content
    //- Topbar Centered Text -//
    div(class="ui item middle")
        div(class="ui center aligned container")
            div(class="ui large header") #{title}
    //- Topbar TU/e Logo -//
    div(class="ui item")
        div(class="ui right aligned container")
            a(href="https://www.tue.nl/en/")
                img(class="ui small image right floated tue_link" src="resources/tue_logo.png" onmouseover="pulseImage('tue_link')") 
block content
    //- Page Content -//
    div.content
        //- Large Logo -//
        img(class="ui large image centered" src="resources/logoETVIZ.svg" style="margin-top: 14px;") 
        //- About Segment -//
        div(class="ui floating raised segments")
            //- Info Icon -//
            div(class="ui segment")
                i(class="ui blue inverted circular info large icon")
            //- Eye Tracking Segment -//
            div(class="ui secondary segment")
                p Advances in technology have pushed the boundaries of eye tracking research such that it is nowadays considered as a new tool for further exploration. This is also followed by a demand from researchers for better eye tracking tools and analyzing techniques. Therefore, we present an eye tracking visualization tool that demonstrates new data-processing techniques.
                p This tool includes the following visualization types:
                //- Visualization Type List -//
                div(class="ui list")
                    div(class="item")
                        p(class="ui tiny header") #[a(href="https://dl.acm.org/doi/pdf/10.1145/3356422.3356423") Eye Cloud]
                        p Visualizes eye fixation 'hotspots', where the size represents the interest.
                    br
                    div(class="item")
                        p(class="ui tiny header") #[a(href="https://www.researchgate.net/profile/Michael_Burch2/publication/282899094_Gaze_Stripes_Image-Based_Visualization_of_Eye_Tracking_Data/links/5d00d4a492851c874c5fd47e/Gaze-Stripes-Image-Based-Visualization-of-Eye-Tracking-Data.pdf") Gaze Stripes]
                        p Visualizes eye fixation in relation to time separated for each participant.
                    br
                    div(class="item")
                        p(class="ui tiny header") #[a(href="https://pdfs.semanticscholar.org/19f1/9b1c0f4e378b19acb3df3d32c44fa8490ced.pdf") Transition Graph]
                        p Visualizes common transitions between fixations of participants. 
                    br
                    div(class="item")
                        p(class="ui tiny header") #[a(href="http://www.profitippliga.de/papers/58.pdf") Attention Map]
                        p Visualizes all 'hotspots' as a heatmap on a stimuli.
            //- Default Dataset Segment -//
            div(class="ui secondary segment")
                p The provided dataset is the result of #[a(href="https://www.tandfonline.com/doi/abs/10.1080/13875868.2016.1226839") a study] with 40 participants using schematic metro maps. The study focused on two aspects: determining different reading strategies and assessing user performance.
            //- University of Technology Eindhoven Segment -//
            div(class="ui secondary segment")
                p This online tool was created by 5 Computer Science and Engineering students from the #[a(href="https://www.tue.nl/en/") University of Technology Eindhoven]. It was developed for the WebTech course, during the 4th quartile of academic year 2019-2020.
        //- Video Tag - //
        div(class='container' style="margin-top: 50px;")
            img(src='resources/Video/overlay.png' style="height: 310px;z-index: 4;position: absolute;display: flex;pointer-events: none;margin-top: -20px;margin-left: -30px;")
            video(width="500" controls)
                source(src="resources/Video/video.mp4" type="video/mp4")
                source(src="resources/Video/video.ogg" type="video/ogg")
                | Your browser does not support HTML video.
            br
            div(class="ui segment" style="width: 300px;display: inline-block;")
                | This is a video representing our work 
    //- Extend Page To Allow Scrolling -//
    footer(class="ui vertical footer segment")
        div(class="ui container")
            h1(class="ui header") 
            h1(class="ui header") 
            h1(class="ui header") 

block post_scripts
    //- Set Active Page to About in 'navigation' Sidebar -//
    script.
        $('#about_nav').addClass('active');
        $('.pusher').css('overflow', 'scroll')