extends layout

block styles
    link(rel="icon" type="image/png" href="resources/favicon_about.png")

block header_content
    //- Topbar Centered Text -//
    div(class="ui item")
        div(class="ui center aligned container")
            div(class="ui large header") #{title}
    //- Topbar TU/e Logo -//
    div(class="ui item")
        div(class="ui right aligned container")
            a(href="https://www.tue.nl/en/")
                img(class="ui small image right floated tue_link" src="resources/tue_logo.png" onmouseover="pulseImage('tue_link')") 
block content
    //-  Page Content -//
    div.content
        //-  About Segment -//
        div(class="ui floating raised segments")
            div(class="ui segment")
                i(class="ui blue inverted circular info large icon")
            div(class="ui secondary segment")
                p(class="ui small dividing header") Eye Tracking
                p Advances in technology have pushed the boundaries of eye tracking research such that it is nowadays considered as a new tool for further exploration. This, is also followed by demand from researchers for better eye tracking tools and analyzing techniques. Therefore, we present an eye tracking visualization tool which demonstrates new data-processing techniques.
                p This tool includes the following visualization types:
                p(class="ui tiny dividing header" style="margin-top:3px; margin-bottom:3px;") #[a(href="https://dl.acm.org/doi/pdf/10.1145/3356422.3356423") Eye Cloud]
                p(style="margin-top:3px; margin-bottom:5px;") Visualizes eye fixation 'hotspots', where the size represents the interest.
                p(class="ui tiny dividing header" style="margin-top:3px; margin-bottom:3px;") #[a(href="https://www.researchgate.net/profile/Michael_Burch2/publication/282899094_Gaze_Stripes_Image-Based_Visualization_of_Eye_Tracking_Data/links/5d00d4a492851c874c5fd47e/Gaze-Stripes-Image-Based-Visualization-of-Eye-Tracking-Data.pdf") Gaze Stripes]
                p(style="margin-top:3px; margin-bottom:5px;") Visualizes eye fixation in relation to time separated for each participant.
                p(class="ui tiny dividing header" style="margin-top:3px; margin-bottom:3px;") #[a(href="https://pdfs.semanticscholar.org/19f1/9b1c0f4e378b19acb3df3d32c44fa8490ced.pdf") Transition Graph]
                p(style="margin-top:3px; margin-bottom:5px;") Visualizes common transitions between fixations of participants. 
                p(class="ui tiny dividing header" style="margin-top:3px; margin-bottom:3px;") #[a(href="http://www.profitippliga.de/papers/58.pdf") Attention Map]
                p(style="margin-top:3px; margin-bottom:5px;") Visualizes all 'hotspots' as a heatmap on a stimuli.
            div(class="ui secondary segment")
                p(class="ui small dividing header") University of Technology Eindhoven
                p This online tool was created by 5 Computer Science and Engineering students from the University of Technology Eindhoven. It was developed for the WebTech course, during the 4th quartile of academic year 2019-2020.


block post_scripts
    //- Set Active page to About in 'navigation' sidebar -//
    script.
        $('#about_nav').addClass('active');