html
    head
        title Eye Cloud
        link(rel='stylesheet', href='/css/eyecloud.css')
        script(src='https://d3js.org/d3.v5.min.js')
    body
        div.graph
        script(src='/public/scripts/visualization/eyecloud.js')
