extends layout

block content
    
    div.intro
        div.inner
            div.content
                h1= title
                p Welcome to #{title}
                a(class='btn' href='#') Button 1 
