extends layout

block styles
    link(rel="icon" type="image/png" href="resources/favicon_home.png")

block header_content
    //- Topbar Centered Text -//
    div(class="ui item")
        div(class="ui center aligned container")
            div(class="ui large header") #{title}
    //- Topbar TU/e Logo -//
    div(class="ui item")
        div(class="ui right aligned container")
            a(href="https://www.tue.nl/en/")
                img(class="ui small image right floated tue_link" src="resources/tue_logo.png" onmouseover="pulseImage('tue_link')") 

block content
    //-  Page Content -//
    div.content
        //-  About Segment -//
        div(class="ui floating raised segments")
            div(class="ui segment")
                div(class="ui blue right icon big label") About
                    i(class="ui info icon")
            div(class="ui secondary segment")
                p TO BE DONE: fill with basic info and redirect to /about
        //-  Visualization Segment -//
        div(class="ui floating raised segments")
            div(class="ui segment")
                div(class="ui red right icon big label") Visualizations
                    i(class="ui eye icon")
            div(class="ui secondary segment")
                p TO BE DONE: fill with visualization info text
        //-  Upload Segment -//
        div(class="ui floating raised segments")
            div(class="ui segment")
                div(class="ui green right icon big label") Upload
                    i(class="ui upload icon")
            div(class="ui secondary segment")
                p TO BE DONE: fill with upload info text

block post_scripts
    script.
        $('#index_nav').addClass('active');
