extends layout

block pre_scripts
    script(src="https://d3js.org/d3.v5.min.js")

block content
    //-  Page Content -//
    div.content
        h1= title
        p Welcome to #{title}
        div#template_button(class="ui vertical animated button" tabindex="0")
            div(class="hidden content") Load template
            div(class="visible content") 
                i(class="ui play icon")
        
        div#load_button

        form(action="/dataset/upload" enctype="multipart/form-data" method="POST" style="top-width: 0px;margin-top: 5px")
            label(for="file")
                div#load_button(class="ui vertical animated button" tabindex="0")
                    div(class="hidden content") Load files
                     input(type="file" id="file" name="dataset" style="display:none")
                    div(class="visible content") 
                        i(class="ui upload icon")
                
                input(type="submit" class="ui button" id="file" style="padding-bottom: 13px;padding-top: 9px" name="sampleFile" value='Upload')

block post_scripts
    script.
        $('#index_nav').addClass('active');