extends layout

block styles
    link(rel="icon" type="image/png" href="resources/favicon_home.png")

block header_content
    //- Topbar Centered Text -//
    div(class="ui item middle")
        div(class="ui center aligned container")
            div(class="ui large header") #{title}
    //- Topbar TU/e Logo -//
    div(class="ui item")
        div(class="ui right aligned container")
            a(href="https://www.tue.nl/en/")
                img(class="ui small image right floated tue_link" src="resources/tue_logo.png" onmouseover="pulseImage('tue_link')") 

block content
    //-  Page Content -//
    div.content
        img(class="ui large image centered" src="resources/logoETVIZnoQuote.svg" style="margin-top: 14px;") 
        //-  About Segment -//
        div(class="ui floating raised segments")
            div(class="ui segment")
                a(class="ui blue right icon big label" href="/about") About
                    i(class="ui info icon")
            div(class="ui secondary segment")
                p(class="ui small dividing header") Student Project
                p This online tool was created by 5 Computer Science and Engineering students from the #[a(href="https://www.tue.nl/en/") University of Technology Eindhoven]. #[br] For more information about the tool and eye tracking, visit the #[a(href="/about") about page].
        //-  Visualization Segment -//
        div(class="ui floating raised segments")
            div(class="ui segment")
                a(class="ui teal right icon big label" href="/visualization?id=default") Visualizations
                    i(class="ui eye icon")
            div(class="ui secondary segment")
                p(class="ui small dividing header") Types
                ul(class="ui horizontal bulleted link list") 
                    a(class="item" href="https://dl.acm.org/doi/pdf/10.1145/3356422.3356423") Eye Cloud
                    a(class="item" href="https://www.researchgate.net/profile/Michael_Burch2/publication/282899094_Gaze_Stripes_Image-Based_Visualization_of_Eye_Tracking_Data/links/5d00d4a492851c874c5fd47e/Gaze-Stripes-Image-Based-Visualization-of-Eye-Tracking-Data.pdf") Gaze Stripes
                    a(class="item" href="https://pdfs.semanticscholar.org/19f1/9b1c0f4e378b19acb3df3d32c44fa8490ced.pdf") Transition Graph
                    a(class="item" href="http://www.profitippliga.de/papers/58.pdf") Attention Map
                p(class="ui small dividing header") Settings
                p Using the settings sidebar you can interact with the data. Therefore, you have more control over the visualizations, so you can discover patterns in the data.
        //-  Upload Segment -//
        div(class="ui floating raised segments")
            div(class="ui segment")
                a(class="ui green right icon big label" href="/upload") Upload
                    i(class="ui upload icon")
            div(class="ui secondary segment")
                p(class="ui small dividing header") Custom Data
                p Any user can upload their own dataset, allowing you to visualize your own data in this online visualization tool.

    footer(class="ui vertical footer segment")
        div(class="ui container")
            h1(class="ui header") 
            h1(class="ui header") 
            h1(class="ui header") 


block post_scripts
    //- Set Active page to Home in 'navigation' sidebar -//
    script.
        $('#index_nav').addClass('active');
        $('.pusher').css('overflow', 'scroll')