doctype html
html
    head
        title= title
        link(rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css")
        link(rel = 'stylesheet', href = '/css/style.css')
        script(src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous")
        script(src="./semantic/dist/semantic.min.js")

        block styles
        block pre_scripts

    body
        //-  Navigation Sidebar -//
        div(class="ui sidebar thin vertical menu nav")
            //-  Home -//
            a#index_nav(class="item nav" href="/")
                i(class="ui home icon large")
                p(class="content") Home
            //-  Visualize -//
            a#visualization_nav(class="item nav" href="/visualization")
                i(class="ui eye icon large")
                p(class="content") Visualize
            //-  Upload Data -//
            a#upload_nav(class="item nav"  href="/upload")
                i(class="ui upload icon large")
                p(class="content") Upload Data
            //-  About -//
            a#about_nav(class="item nav" href="/about")
                i(class="ui info icon large")
                p(class="content") About

        block sidebars

        div.pusher
            //-  Top Menu -//
            div(class="ui horizontal borderless large three item menu fitted")
                //-  Navigation Sidebar Button -//
                div(class="ui item")
                    div(class="ui left aligned container" style="margin-left:5px;")
                        i(class="ui bars icon circular fitted" onclick="showSidebar('nav')")
                block header_content
            block content

    block post_scripts

    //- Show sidebar based on unique class(es) -//
    script.
        function showSidebar(bar) {
            $('.ui.sidebar.'+bar).sidebar('show')
        };

    //- Hide sidebar based on unique class(es) -//
    script.
        function hideSidebar(bar) {
            $('.ui.sidebar.'+bar).sidebar('hide');
        };

    //- Pulse image based on unique class(es) -//
    script.
        function pulseImage(cls) {
            $('.'+cls).transition('pulse');
        };

    //- Enable accordion functionaliy -//
    script.
        $('.ui.accordion')
          .accordion({
            selector: {
              trigger: '.title :not(.exclude)'
            }
          })
        ;

    //- Set sidebar transition to 'overlay' -//
    script.
        $('.ui.sidebar').sidebar('setting', 'transition', 'overlay');