extends layout

block styles
    link(rel="icon" type="image/png" href="resources/favicon_upload.png")

block pre_scripts
    script(src='scripts/upload/upload.js')

block header_content
    //- Topbar Centered Text -//
    div(class="ui item")
        div(class="ui center aligned container")
            div(class="ui large header") #{title}
    //- Topbar TU/e Logo -//
    div(class="ui item")
        div(class="ui right aligned container")
            a(href="https://www.tue.nl/en/")
                img(class="ui small image right floated tue_link" src="resources/tue_logo.png" onmouseover="pulseImage('tue_link')") 

block content
    //-  Page Content -//
    div.content
        div(class="ui raised segments")
            //-  Primary Segment -//
            div(class="ui segment")
                i(class="ui green inverted circular upload large icon")
            div(class="ui segment")
                p(class="ui small dividing header") Custom Data
                p On this page you can upload your own custom dataset. This can then be used to visualize the date, as long as you used the format specified below.
                p(class="ui small dividing header") Format
                p To make sure that the visualizations work on your dataset, the dataset must follow the specified format. The faded rows are not used in the current algorithms, however they should be included.
                div(class="ui styled accordion")
                    div(class="title") #[i(class="dropdown icon")] CSV Format
                    div(class="content")
                        table(class="ui celled definition table")
                            thead
                                tr #[th] #[th Type] #[th Example]
                            tbody
                                tr #[td Timestamp] #[td Number] #[td 462478]
                                tr #[td StimuliName] #[td Filename] #[td 14b_Düsseldorf_S2.jpg]
                                tr(class="disabled") #[td FixationIndex] #[td Number] #[td 1285]
                                tr #[td FixationDuration] #[td Number] #[td 1149]
                                tr #[td MappedFixationPointX] #[td Number] #[td 490]
                                tr #[td MappedFixationPointY] #[td Number] #[td 378]
                                tr #[td user] #[td 'p'Number] #[td p24]
                                tr(class="disabled") #[td description] #[td "Color"/"Gray"] #[td gray]
                div(class="ui styled accordion")
                    div(class="title") #[i(class="dropdown icon")] Image Format
                    div(class="content")
                        p Any of the following image extensions can be used: 
                        div(class="ui bulleted list") #[div(class="item") .png] #[div(class="item") .jpg] #[div(class="item") .jpeg]

                //-  Interactive form -//
                p(class="ui small dividing header") Upload Form
                form(id="datasetForm" enctype="multipart/form-data" method="POST" class="ui form")
                    div(class="field")
                        div(class="ui blue input")
                            input(type="text" required placeholder="Dataset Name" maxlength="30")
                    div(class="field")
                        label(for="dataset")
                            div(class="ui basic blue button") Select dataset
                                input(id="dataset" type="file" name="dataset" accept=".csv" required style="width: inherit; height: inherit; left: initial; top: initial; opacity: 0; position: absolute; z-index: -1;")
                    div(class="field" aria-required=true)
                        label(for="images")
                            div(class="ui basic blue button") Select images
                                input(id="images" type="file" name="images" multiple accept=".png,.jpg,.jpeg" required style="width: inherit; height: inherit; left: initial; top: initial; opacity: 0; position: absolute; z-index: -1;")
                    input(type="submit" class="ui green submit button" value="Upload")
            //-  Placeholder Segment -//
            div(id="tempSection" class="ui placeholder secondary segment")
                div(class="ui icon header")
                    i(class="ui file icon")
                    p No files uploaded yet!
            div(id="successSection" class="ui placeholder secondary segment" style="display: none")
                div(class="ui icon header")
                    i(class="ui green check icon")
                    p Dataset uploaded successfully!
                    button(id='visualizationButton' type="button" class="ui blue button") Open Visualization
            div(id="failureSection" class="ui placeholder secondary segment" style="display: none")
                div(class="ui icon header")
                    i(class="ui red exclamation icon")
                    p Failed to upload dataset!
                    p(id='failureMessage')
            //SHOW UPLOADED FILES

block post_scripts
    //- Set Active page to Upload in 'navigation' sidebar -//
    script.
        $('#upload_nav').addClass('active');