extends layout

block styles
    link(rel="icon" type="image/png" href="resources/favicon_upload.png")

block pre_scripts
    script(src='scripts/upload/upload.js')

block header_content
    //- Topbar Centered Text -//
    div(class="ui item")
        div(class="ui center aligned container")
            div(class="ui large header") #{title}
    //- Topbar TU/e Logo -//
    div(class="ui item")
        div(class="ui right aligned container")
            a(href="https://www.tue.nl/en/")
                img(class="ui small image right floated tue_link" src="resources/tue_logo.png" onmouseover="pulseImage('tue_link')") 

block content
    //-  Page Content -//
    div.content
        div(class="ui raised segments")
            //-  Primary Segment -//
            div(class="ui segment")
                i(class="ui green inverted circular upload large icon")
            div(class="ui segment")
                p On this page you can upload your own custom dataset. This can then be used to visualize the date, as long as you used the format given below.
                p ~To be added~
                //PLACE FORMAT DISPLAY HERE

                //-  Interactive form -//
                form(class="ui form" action="/dataset/upload" enctype="multipart/form-data" method="POST")
                    div(class="field")
                        div(class="ui blue input")
                            input(type="text" placeholder="Dataset Name" maxlength="30")
                    div(class="field")
                        label(for="dataset")
                            div(class="ui basic blue button") Select dataset
                    div(class="field")
                        label(for="images")
                            div(class="ui basic blue button") Select images
                    input(id="dataset" type="file" name="dataset" accept=".csv" style="display:none")
                    input(id="images" type="file" name="images" multiple accept=".png,.jpg,.jpeg" style="display:none")
                    input(type="submit" class="ui green submit button" value="Submit")
            //-  Placeholder Segment -//
            div(class="ui placeholder secondary segment")
                div(class="ui icon header")
                    i(class="ui file icon")
                    p No files uploaded yet!
            //SHOW UPLOADED FILES

block post_scripts
    //- Set Active page to Upload in 'navigation' sidebar -//
    script.
        $('#upload_nav').addClass('active');