extends layout

block styles
    link(rel='stylesheet' href="/css/visualization.css")
    link(rel='stylesheet' href="/css/patterns.css")
    link(rel='stylesheet' href="/css/d3-context-menu.css")
    link(rel="icon" type="image/png" href="resources/favicon_visualization.png")

block pre_scripts
    // d3.js & additional libraries
    script(src="https://d3js.org/d3.v5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/7.0.1/math.js")
    script(src="scripts/additional-modules/d3-context-menu.js")
    script(src="scripts/additional-modules/jszip.js")
    script(src="scripts/additional-modules/FileSaver.js")
    script(src="scripts/additional-modules/jszip-utils.js")
    // framework
    script(src='scripts/visualization/main.js')
    script(src='scripts/visualization/dataset.js')
    script(src='scripts/visualization/visualization.js')
    script(src='scripts/visualization/boxmanager.js')
    script(src='scripts/visualization/box.js')
    script(src='scripts/visualization/properties.js')
    script(src='scripts/visualization/styles.js')
    script(src='scripts/visualization/registry.js')
    script(src='scripts/visualization/svgtoimage.js')
    // visualizations
    script(src='scripts/visualization/transitiongraph.js')
    script(src='scripts/visualization/eyecloud.js')
    script(src='scripts/visualization/gazestripe.js')
    script(src='scripts/visualization/attentionmap.js')
    script(src='scripts/visualization/editor.js')

block sidebars
    //-  Settings Sidebar -//
    div(class="ui sidebar right vertical menu settings")
        div(class="item left aligned small-right-padding")
            div(class="ui header") Settings:
                i(class="ui times red inverted icon circular small fitted right-float" onclick="closeSettings()")
        //-  Visualization type(s) -//
        div(class="item setting")
            div(class="ui teal tiny top right attached label hidden settinghelp" onclick="settingHelp('Visualizations')" style="margin-left:0px !important;")
                i(class="ui fitted question icon")
            div(class="ui styled accordion" style="margin-top:0px !important;")
                div(class="title")
                    i(class="ui eye outline icon")
                    label Visualizations:
                div(class="ui form content")
                    div(class="grouped fields left-align")
                        //- Eye Cloud -//
                        div(class="field")
                            div(class="ui toggle checked checkbox")
                                input(type="checkbox" id="eyecloud" class="settings visualization_type" checked="")
                                label(for="eyecloud") Eye Cloud
                        //- Gaze Strips -//
                        div(class="field")
                            div(class="ui toggle checked checkbox")
                                input(type="checkbox" id="gazestripe" class="settings visualization_type" checked="")
                                label(for="gazestripe") Gaze Stripes
                        //- Transition Graph -//
                        div(class="field")
                            div(class="ui toggle checked checkbox")
                                input(type="checkbox" id="transitiongraph" class="settings visualization_type" checked="")
                                label(for="transitiongraph") Transition Graph
                        //- Visual Attention Map -//
                        div(class="field")
                            div(class="ui toggle checked checkbox")
                                input(type="checkbox" id="attentionmap" class="settings visualization_type" checked="")
                                label(for="attentionmap") Visual Attention Map
                        div(class="ui fitted divider")
                        //- Editor -//
                        div(class="field")
                            div(class="ui toggle checked checkbox")
                                input(type="checkbox" id="editor" class="settings visualization_type" checked="")
                                label(for="editor") Editor
        //- Image Selection -//
        //- Default image setDefaultImageHere -//
        -var default_image = "01b_Antwerpen_S2.jpg"
        script.let image = "#{default_image}";

        div(class="item setting")
            div(class="ui teal tiny top right attached label hidden settinghelp" onclick="settingHelp('Image')" style="margin-left:0px !important;")
                i(class="ui fitted question icon")
            div(class="ui styled accordion" style="margin-top:0px !important;")
                div(class="title")
                    i(class="ui map outline icon")
                    label Image:
                div(class="ui form content")
                    //- Dropdown selection menu -//
                    div(class="ui fluid search selection dropdown image")
                        div(class="default text") #{default_image}
                        i(class="ui dropdown icon")
                        div(class="menu")
                            //- Add all filenames to the dropdown; text: filename, data-value:tags[filename] -//
                            for image in images
                                div(class="item fitted image-selector" data-value=tags[image]) #{image}
                            else
                                div(class="item") No images were found

        //- User Selection -//
        div(class="item setting")
            div(class="ui teal tiny top right attached label hidden settinghelp" onclick="settingHelp('Users')" style="margin-left:0px !important;")
                i(class="ui fitted question icon")
            div(class="ui styled accordion" style="margin-top:0px !important;")
                div(class="title")
                    i#usersLoadingIcon(class="ui users icon")
                    label Users:
                div(class="ui form content" style={'z-index': '5'})
                    //- Dropdown selection menu -//
                    div(class="ui fluid search selection multiple dropdown user")
                        div(class="default text") Select users
                        i(class="ui dropdown icon")
                        div(class="menu")
                            //- Values are added in initiatesettings.js -//
                    div(class="ui add circular green basic button")
                        i(class="ui add fitted icon")
                    div(class="ui clear circular red basic button")
                        i(class="ui remove fitted icon")
                    
        //- RGBA -//
        div(class="item setting")
            div(class="ui teal tiny top right attached label hidden settinghelp" onclick="settingHelp('Color')" style="margin-left:0px !important;")
                i(class="ui fitted question icon")
            div(class="ui styled accordion colorsettings" style="margin-top:0px !important;")
                div(class="title")
                    div(class="ui tiny right pointing inverted basic label color-preview")
                        i(class="ui fitted inverted eye dropper icon color-preview")
                    label Color:
                div(class="ui form content")
                    //- Red Slider -//
                    div(class="ui inline fields")
                        div(class="ui inverted label r-color-preview") R
                        div(class="ui slider rgb small-padding" id="r")
                    //- Green Slider -//
                    div(class="ui inline fields")
                        div(class="ui inverted label g-color-preview") G
                        div(class="ui slider rgb small-padding" id="g")
                    //- Blue Slider -//
                    div(class="ui inline fields")
                        div(class="ui inverted label b-color-preview") B
                        div(class="ui slider rgb small-padding" id="b")
                    //- Alpha Slider (Disabled for now) Remove from scripts if not used!-//
                        div(class="ui inline fields")
                            div(class="ui inverted label a-color-preview") A
                            div(class="ui slider small-padding alpha" id="a") 

        //- Editor Mode -//
        div(class="item setting")
            div(class="ui teal tiny top right attached label hidden settinghelp" onclick="settingHelp('Editor')" style="margin-left:0px !important;")
                i(class="ui fitted question icon")
            div(class="ui styled accordion editorsettings" style="margin-top:0px !important;")
                div(class="title")
                    i(class="ui pencil alternate icon")
                    label Editor Commands:
                div(class="ui form content")
                    p  
                    |  Use middle click to move the image around
                    |  <br>  <br>
                    |  In brush mode, you can create AOI by holding left click button
                    |  <br>  <br>
                    |  Use the context menu by pressing right click to switch between brush mode and view mode 

        //- Zoom Level -//
        div(class="item setting")
            div(class="ui teal tiny top right attached label hidden settinghelp" onclick="settingHelp('Zoom')" style="margin-left:0px !important;")
                i(class="ui fitted question icon")
            div(class="ui styled accordion zoomsettings" style="margin-top:0px !important;")
                div(class="title")
                    i(class="ui search icon")
                    label Zoom Level:
                div(class="ui form content")
                    div(class="ui inline fields")
                        div(class="ui basic label zoom-preview")
                        div(class="ui slider zoom small-padding")


        //- Apply Settings & Auto Apply -//
        div(class="ui basic center aligned fitted segment")
            div(class="field small-padding")
                div(class="ui green basic button" onclick="applySettings()") Apply Settings
            div(class="field small-padding")
                div(class="ui checkbox")
                    input#auto_apply(type="checkbox" name="auto_apply_settings" checked=":checked")
                    label(for="auto_apply") Apply On Change
            div(class="inline field small-padding")
                div(id="saveSettings" class="ui blue basic circular button bottom floated" onclick="" data-tooltip="Save Settings and Images" data-position="top center" data-inverted="" data-variation="tiny basic")
                    i(class="ui fitted save icon")
                div(id="uploadSettings" class="ui green basic disabled circular button bottom floated" onclick="" data-tooltip="Upload Settings" data-position="top center" data-inverted="" data-variation="tiny basic")
                    i(class="ui fitted upload icon")
                

        div(class='ui modal' id='modalSave')
            div(class='header') Save settings
            div(class="content")
                div(class='text' style='text-align:left')
                    p(style="font-weight: bold;") Choose the desired data for export:
                div(class='ui segments')
                    #chooseContent(class="ui horizontal segments")
                        div(style="min-width: 150px;display: flex;align-items: center;" class="ui left aligned large segment")
                            div(class='ui list')
                                div(class='item')
                                    div(class="ui checkbox" id="usersCheck")
                                        input(type="checkbox")
                                        label Users
                                div(class='item')
                                    div(class="ui checkbox" id="aoiCheck")
                                        input(type="checkbox")
                                        label AOIs
                                div(class='item')
                                    div(class="ui checkbox" id="colorCheck")
                                        input(type="checkbox")
                                        label Color
                                div(class='item')
                                    div(class="ui checkbox" id="zoomCheck")
                                        input(type="checkbox")
                                        label Zoom Slider
                                div(class='item')
                                    div(class="ui checkbox" id="snapCheck")
                                        input(type="checkbox")
                                        label Snapshot
                        div(class="ui segment")
                            p Current Image
                            img(id='previewImage' src="" class="ui large rounded centered fluid image")
                            p(id='previewImageLabel')
                    div(class="ui small segment")
                        -var stringHelp = '<i class="icon person"><i>'
                        div(class="ui checkbox" id="imageCheck")
                            input(type="checkbox")
                            label Allow settings to be used on other images  
                                i(class='question circle icon' onclick="saveSettingsImageWarning()")
                                
                div(class='ui segment')
                    p(id='previewId') 
                button(class="ui green button" id="submitRequest")
                    i(class="i file code icon")
                    | Download JSON
                button(class="ui blue disabled button")
                    i(class="i share icon")
                    | Share via PasteBin






block header_content
    //- Topbar Centered Text -//
    div(class="ui item middle")
        div(class="ui labeled icon search selection dropdown dataset")
            input(class="search" name="dataset")
            div(class="text")
            label#dataset_icon(for="dataset")
                i(class="file alternate outline icon" style="height:100%;")
    //-  Settings Sidebar Button -//
    div(class="ui item")
        div(class="ui right aligned container" style="margin-right:5px;")
            i#settings_toggle(class="ui sliders icon circular fitted" onclick="openSettings()")

block content
    div#container(class='container')
        div#frame(class='blurring frame')
            div(class="preview ui top aligned dimmer" style="text-align: -webkit-center;")
                div(class="ui image" style="max-height: 90% !important; max-width: 90% !important;")
                    img#preview-image(style="max-height: 90% !important;" src="/datasets/default/images/" + default_image)
            div#innerframe(class='inner-frame')

block post_scripts
    //- Settings Sidebar behaviors -//
    script.
        function openSettings() {
            $('#settings_toggle')
                //- Hide Icon -//            
                .hide();
            //- Open Settings -//
            showSidebar('settings');
            resizeBoxes();
        };

        function closeSettings() {
            $('#settings_toggle')
                //- Unhide Icon -//
                .show();
            //- Close Settings -//
            hideSidebar('settings');
            resizeBoxes();
        };

        //- Prevent 'settings' sidebar from dimming the page -//
        $('.ui.sidebar.settings').sidebar({dimPage: false, closable: false})

    //- Load settings scripts -//
    script(src='scripts/visualization/readsettings.js')
    script(src="scripts/visualization/initiatesettings.js")

    //- Set Active page to Visualization in 'navigation' sidebar -//
    script.
        $('#visualization_nav').addClass('active');