extends layout

block styles
    link(rel = 'stylesheet', href = '/css/visualization.css')
    link(rel="icon" type="image/png" href="resources/favicon_visualization.png")

block pre_scripts
    // d3.js
    script(src="https://d3js.org/d3.v5.min.js")
    // framework
    script(src='scripts/visualization/main.js')
    script(src='scripts/visualization/dataset.js')
    script(src='scripts/visualization/visualization.js')
    script(src='scripts/visualization/boxmanager.js')
    script(src='scripts/visualization/box.js')
    script(src='scripts/visualization/properties.js')
    script(src='scripts/visualization/styles.js')
    script(src='scripts/visualization/registry.js')
    // visualizations
    script(src='scripts/visualization/examplevisualization.js')
    script(src='scripts/visualization/eyecloud.js')
    script(src='scripts/visualization/gazestripe.js')
    script(src='scripts/visualization/attentionmap.js')
    script(src='scripts/visualization/editor.js')

block sidebars
    //-  Settings Sidebar -//
    div(class="ui sidebar right vertical menu settings")
        div(class="item left aligned small-right-padding")
            div(class="ui header") Settings:
                i(class="ui times red inverted icon circular small fitted right-float" onclick="closeSettings()")
        //-  Visualization type(s) -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="active title" data-tooltip="Toggle desired visualizations on or off" data-position="top left" data-inverted="" data-variation="tiny basic")
                            i(class="ui dropdown icon")
                            label Visualizations:
                        div(class="ui form content active")
                            div(class="grouped fields left-align")
                                //- Eye Cloud -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="eyecloud" class="settings visualization_type" checked="")
                                        label(for="eyecloud") Eye Cloud
                                //- Gaze Strips -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="gazestripes" class="settings visualization_type" checked="")
                                        label(for="gazestripes") Gaze Stripes
                                //- Transition Graph -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox" data-tooltip="Not implemented yet" data-position="bottom left" data-inverted="" data-variation="tiny basic")
                                        input(type="checkbox" id="transitiongraph" disabled="disabled" class="settings visualization_type" checked="")
                                        label(for="transitiongraph") Transition Graph
                                //- Visual Attention Map -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="attentionmap" class="settings visualization_type" checked="")
                                        label(for="attentionmap") Visual Attention Map
                                div(class="ui fitted divider")
                                //- Editor -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox" data-tooltip="Not implemented yet" data-position="bottom left" data-inverted="" data-variation="tiny basic")
                                        input(type="checkbox" id="editor" disabled="disabled" class="settings visualization_type" checked="")
                                        label(for="editor") Editor
        //- Image Selection -//
        //- Default image setDefaultImageHere -//
        -var default_image = "01b_Antwerpen_S2.jpg"
        script.let image = "#{default_image}";

        div(class="item")
            div(class="ui styled accordion")
                        div(class="active title" data-tooltip="Select the image to display" data-position="top left" data-inverted="" data-variation="tiny basic")
                            i(class="ui dropdown icon")
                            label Image:
                        div(class="ui form content active")
                            //- Dropdown selection menu -//
                            div(class="ui fluid search selection dropdown")
                                div(class="default text") #{default_image}
                                i(class="ui dropdown icon")
                                div(class="menu")
                                    //- Add all filenames to the dropdown; text: filename, data-value:tags[filename] -//
                                    for image in images
                                        div(class="item fitted image-selector" data-value=tags[image]) #{image}
                                    else
                                        div(class="item") No images were found
        //- RGBA -//
        div(class="item")
            div(class="ui styled accordion colorsettings")
                        div(class="inline active title" data-tooltip="Modify the color for the Attention Map" data-position="top left" data-inverted="" data-variation="tiny basic")
                            i(class="ui dropdown icon")
                            label Color:
                            //- Color Preview Icon -//
                            i(class="ui inverted circular eye dropper icon color-preview")
                        div(class="ui form content active ")
                            //- Red Slider -//
                            div(class="ui inline fields")
                                div(class="ui inverted label r-color-preview") R
                                div(class="ui slider r small-padding" id="r")
                            //- Green Slider -//
                            div(class="ui inline fields")
                                div(class="ui inverted label g-color-preview") G
                                div(class="ui slider g small-padding" id="g")
                            //- Blue Slider -//
                            div(class="ui inline fields")
                                div(class="ui inverted label b-color-preview") B
                                div(class="ui slider b small-padding" id="b")
                            //- Alpha Slider (Disabled for now) Remove from scripts if not used!-//
                                div(class="ui inline fields")
                                    div(class="ui inverted label a-color-preview") A
                                    div(class="ui slider small-padding alpha" id="a") 
                            

        //- Extra setting?-//
            div(class="item")
                div(class="ui styled accordion")
                            div(class="title")
                                i(class="ui dropdown icon")
                            div(class="content")
                                p Settings are not implemented yet


        //- Apply Settings & Auto Apply -//
        div(class="ui basic center aligned fitted segment")
            div(class="field")
                div(class="ui green basic button" onclick="applySettings()") Apply Settings
                div(class="ui checkbox")
                    input#auto_apply(type="checkbox" name="auto_apply_settings" checked=":checked")
                    label Apply On Change



block header_content
    //- Topbar Centered Text -//
    div(class="ui item")
        div(class="ui center aligned container")
            div#topbar(class="ui large header selectable")
    //-  Settings Sidebar Button -//
    div(class="ui item")
        div(class="ui right aligned container" style="margin-right:5px;")
            i#settings_toggle(class="ui sliders icon circular fitted" onclick="openSettings()")

block content
    div#container(class='container')
        div#frame(class='frame')
            div(class="preview ui big centered image" style="display:none;")
                    img#preview-image(src="/testdataset/images/" + default_image)
            div#innerframe(class='inner-frame')

block post_scripts
    //- Settings Sidebar behaviors -//
    script.
        function openSettings() {
            $('#settings_toggle')
                //- Hide Icon -//            
                .hide();
            //- Open Settings -//
            showSidebar('settings');
            //resizeBoxes()
        };

        function closeSettings() {
            $('#settings_toggle')
                //- Unhide Icon -//
                .show();
            //- Close Settings -//
            hideSidebar('settings');
            //resizeBoxes()
        };

        //- Prevent 'settings' sidebar from dimming the page -//
        $('.ui.sidebar.settings').sidebar({dimPage: false, closable: false})

    //- Load settings scripts -//
    script(src='scripts/visualization/readsettings.js')
    script(src="scripts/visualization/initiatesettings.js")

    //- Set Active page to Visualization in 'navigation' sidebar -//
    script.
        $('#visualization_nav').addClass('active');