extends layout

block styles
    link(rel = 'stylesheet', href = '/css/visualization.css')
    link(rel="icon" type="image/png" href="resources/favicon_visualization.png")

block pre_scripts
    script(src="https://d3js.org/d3.v5.min.js")
    script(src='scripts/visualization/main.js')
    script(src='scripts/visualization/dataset.js')
    script(src='scripts/visualization/visualization.js')
    script(src='scripts/visualization/boxmanager.js')
    script(src='scripts/visualization/box.js')
    script(src='scripts/visualization/examplevisualization.js')
    script(src='scripts/visualization/properties.js')
    script(src='scripts/visualization/attentionmap.js')

block sidebars
    //-  Settings Sidebar -//
    div(class="ui sidebar right vertical menu settings" onmouseover="showSidebar('settings')")
        div(class="item")
            i(class="ui sliders fitted right icon")
            div(class="content")
                div(class="ui header") Settings:
        //-  Visualization type(s) -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        //-  Visualization parameters -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet

block header_content
    //- Topbar Centered Text -//
    div(class="ui center item")
        header(class="ui centered header")
            span#topbar
    //-  Settings Sidebar Button -//
    div(class="ui right item")
        i(class="ui sliders icon circular" onmouseover="showSidebar('settings')")


block content
    div#container(class='container')
        div#frame(class='frame')
            div#innerframe(class='inner-frame')

block post_scripts
    script.
        $('#visualization_nav').addClass('active');