extends layout

block styles
    link(rel = 'stylesheet', href = '/css/visualization.css')

block scripts
    script(src='scripts/visualization/main.js')
    script(src='scripts/visualization/dataset.js')
    script(src='scripts/visualization/visualization.js')
    script(src='scripts/visualization/boxmanager.js')
    script(src='scripts/visualization/box.js')
    script(src='scripts/visualization/examplevisualization.js')
    script(src='scripts/visualization/properties.js')
    script(src='scripts/visualization/attentionmap.js')

block sidebars
    //-  Settings Sidebar -//
    div(class="ui sidebar right vertical menu settings" onmouseover="showSidebar('settings')")
        div(class="item")
            header(class="ui header") Settings:
            i(class="ui sliders floated right icon")
        //-  Visualization type(s) -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        //-  Visualization parameters -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet

block header_buttons
    //-  Settings Sidebar Button -//
    a(class="item right ui" onmouseover="showSidebar('settings')")
        i(class="ui sliders icon fitted")


block content
    div#container(class='container')
        div#sidebar(class='sidebar')
            div#options(class='options')
            div#browser(class='browser')
                div(class='image-tab')
                    div(class='sidebar-button image-button')
                    div(class='sidebar-button image-button')
                div(class='image-tab')
                    div(class='sidebar-button')
            div#properties(class='properties')
        div#frame(class='frame')
            div#topbar(class='top-bar')
                //span#topbartext
            div#innerframe(class='inner-frame')