extends layout

block styles
    link(rel = 'stylesheet', href = '/css/visualization.css')
    link(rel="icon" type="image/png" href="resources/favicon_visualization.png")

block pre_scripts
    // d3.js
    script(src="https://d3js.org/d3.v5.min.js")
    // framework
    script(src='scripts/visualization/main.js')
    script(src='scripts/visualization/dataset.js')
    script(src='scripts/visualization/visualization.js')
    script(src='scripts/visualization/boxmanager.js')
    script(src='scripts/visualization/box.js')
    script(src='scripts/visualization/properties.js')
    script(src='scripts/visualization/styles.js')
    script(src='scripts/visualization/registry.js')
    script(src='scripts/visualization/readsettings.js')
    // visualizations
    script(src='scripts/visualization/examplevisualization.js')
    script(src='scripts/visualization/attentionmap.js')
    script(src='scripts/visualization/editor.js')

block sidebars
    //-  Settings Sidebar -//
    div(class="ui sidebar right vertical menu settings")
        div(class="item left aligned small-right-padding")
            div(class="ui header") Settings:
                i(class="ui times red inverted icon circular small fitted right-float" onclick="closeSettings()")
        //-  Visualization type(s) -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            label Visualizations:
                        div(class="ui form content")
                            div(class="grouped fields left-align")
                                //- Eye Cloud -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="eyecloud" class="settings visualization_type" checked="")
                                        label(for="eyecloud") Eye Cloud
                                //- Gaze Strips -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="gazestripes" class="settings visualization_type" checked="")
                                        label(for="gazestripes") Gaze Stripes
                                //- Transition Graph -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="transitiongraph" class="settings visualization_type" checked="")
                                        label(for="transitiongraph") Transition Graph
                                //- Visual Attention Map -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="attentionmap" class="settings visualization_type" checked="")
                                        label(for="attentionmap") Visual Attention Map
                                div(class="ui fitted divider")
                                //- Editor -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="editor" class="settings visualization_type" checked="")
                                        label(for="editor") Editor
        //- Image Selection -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            label Image:
                        div(class="ui form content")
                            div(class="ui fluid search selection dropdown")
                                //- Default image (should also be changed in main.js and visualization.js) -//
                                -var default_image = "01_Antwerpen_S1.jpg"
                                div(class="default text") #{default_image}
                                i(class="ui dropdown icon")
                                div(class="menu")
                                    //- Add all filenames to the dropdown; text: filename, data-value:tags[filename]//
                                    for image in images
                                        div(class="item fitted image-selector" data-value=tags[image]) #{image}
                                    else
                                        div(class="item") No images were found

        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                        div(class="content")
                            p Settings are not implemented yet
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                        div(class="content")
                            p Settings are not implemented yet
        //- Apply Settings & Auto Apply -//
        div(class="ui basic center aligned fitted segment")
            div(class="field")
                div(class="ui green basic button" onclick="applySettings()") Apply Settings
                div(class="ui checkbox")
                    input#auto_apply(type="checkbox" name="auto_apply_settings" checked=":checked")
                    label Apply On Change



block header_content
    //- Topbar Centered Text -//
    div(class="ui item")
        div(class="ui center aligned container")
            div#topbar(class="ui large header selectable")
    //-  Settings Sidebar Button -//
    div(class="ui item")
        div(class="ui right aligned container" style="margin-right:5px;")
            i#settings_toggle(class="ui sliders icon circular fitted" onclick="openSettings()")

block content
    div#container(class='container')
        div#frame(class='frame')
            div(class="preview ui big centered image" style="display:none;")
                    img#preview-image(src="/testdataset/images/" + default_image)
            div#innerframe(class='inner-frame')

block post_scripts
    script.
        function openSettings() {
            $('#settings_toggle')
                //- Hide Icon -//            
                .hide();
            //- Open Settings -//
            showSidebar('settings');
        };

    script.
        function closeSettings() {
            $('#settings_toggle')
                //- Unhide Icon -//
                .show();
            //- Close Settings -//
            hideSidebar('settings');
        };

    //- Auto Apply Behavior -//
    script.
        function settingChanged() {
            if ($('input#auto_apply[type="checkbox"]').is(":checked")) {
                applySettings();
            };
        };

    //- Detect checkbox update -//
    script.
        $('input.settings')
            .click(function() {
                checkboxChanged(this.id);
                settingChanged();
            });    

    //- Set Dropdown Function -//
    script.
        $('.dropdown.search.selection')
            .dropdown({
                fullTextSearch: 'exact', 
                match: 'both',
                onChange: function(value,text) {
                    selectImage(text);
                    settingChanged();
                }
            });

    //- Image Preview on Dropdown -//
    script.
        $('.image-selector').on('mouseenter', function(evt){
            $('.preview').show();
            $('.inner-frame').hide();
            $('#preview-image').attr("src", "/testdataset/images/" + this.innerHTML);
            $(this).on('mouseleave', function(){
                $('.preview').hide();
                $('.inner-frame').show();
            });
        });

    //- Prevent 'settings' sidebar from dimming the page -//
    script.
        $('.ui.sidebar.settings').sidebar({dimPage: false, closable: false})

    //- Set Active page to Visualization in 'navigation' sidebar -//
    script.
        $('#visualization_nav').addClass('active');