extends layout

block styles
    link(rel = 'stylesheet', href = '/css/visualization.css')
    link(rel="icon" type="image/png" href="resources/favicon_visualization.png")

block pre_scripts
    script(src="https://d3js.org/d3.v5.min.js")
    script(src='scripts/visualization/main.js')
    script(src='scripts/visualization/dataset.js')
    script(src='scripts/visualization/visualization.js')
    script(src='scripts/visualization/boxmanager.js')
    script(src='scripts/visualization/box.js')
    script(src='scripts/visualization/examplevisualization.js')
    script(src='scripts/visualization/properties.js')
    script(src='scripts/visualization/attentionmap.js')
    script(src='scripts/visualization/styles.js')
    script(src='scripts/readsettings.js')

block sidebars
    //-  Settings Sidebar -//
    div(class="ui sidebar right vertical menu settings")
        div(class="item left aligned small-right-padding")
            div(class="ui header") Settings:
                i(class="ui times red inverted icon circular small fitted right-float" onclick="closeSettings()")
        //-  Visualization type(s) -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                            label Visualizations:
                        div(class="ui form content")
                            div(class="grouped fields left-align")
                                //- Eye Cloud -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="eye_cloud" class="settings visualization_type" checked="")
                                        label(for="eye_cloud") Eye Cloud
                                //- Gaze Strips -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="gaze_stripes" class="settings visualization_type" checked="")
                                        label(for="gaze_strips") Gaze Stripes
                                //- Transition Graph -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="transition_graph" class="settings visualization_type" checked="")
                                        label(for="transition_graph") Transition Graph
                                //- Visual Attention Map -//
                                div(class="field")
                                    div(class="ui toggle checked checkbox")
                                        input(type="checkbox" id="visual_attention_map" class="settings visualization_type" checked="")
                                        label(for="visual_attention_map") Visual Attention Map
        //- Image -//
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                            label Image:
                        div(class="ui form content")
                            div(class="ui fluid search selection dropdown")
                                input(type="hidden" name="image")
                                i(class="ui dropdown icon")
                                div(class="default text") Select image
                                div(class="menu")
                                    div(class="item" data-value="0") Antwerp 1
                                    div(class="item" data-value="1") Antwerp 2
                                    div(class="item" data-value="2") Antwerp 1 Gray
                                    div(class="item" data-value="3") Antwerp 2 Gray
        div(class="item")       
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        div(class="item")
            div(class="ui styled accordion")
                        div(class="title")
                            i(class="ui dropdown icon")
                            i(class="ui sliders horizontal icon")
                        div(class="content")
                            p Settings are not implemented yet
        //- Apply Settings & Auto Apply -//
        div(class="ui basic center aligned fitted segment")
            div(class="field")
                div(class="ui green basic button" onclick="applySettings()") Apply Settings
                div(class="ui checkbox")
                    input#auto_apply(type="checkbox" name="auto_apply_settings")
                    label Apply On Change



block header_content
    //- Topbar Centered Text -//
    div(class="ui item")
        div(class="ui center aligned container")
            div#topbar(class="ui large header selectable")
    //-  Settings Sidebar Button -//
    div(class="ui item")
        div(class="ui right aligned container" style="margin-right:5px;")
            i#settings_toggle(class="ui sliders icon circular fitted" onclick="openSettings()")

block content
    div#container(class='container')
        div#frame(class='frame')
            div#innerframe(class='inner-frame')

block post_scripts
    script.
        function openSettings() {
            $('#settings_toggle')
                //- Hide Icon -//            
                .hide();
            //- Open Settings -//
            showSidebar('settings');
        };

    script.
        function closeSettings() {
            $('#settings_toggle')
                //- Unhide Icon -//
                .show();
            //- Close Settings -//
            hideSidebar('settings');
        };

    //- Auto Apply Behavior -//
    script.
        $('input.settings').click(function() {
            if ($('input#auto_apply[type="checkbox"]').is(":checked")) {
                $('input.settings').click(applySettings());
            };
        });    

    //- Prevent 'settings' sidebar from dimming the page -//
    script.
        $('.ui.sidebar.settings').sidebar({dimPage: false, closable: false})

    //- Set Active page to Visualization in 'navigation' sidebar -//
    script.
        $('#visualization_nav').addClass('active');