.content {
    width: 100%;
    max-width: 500px;
    margin:0 auto;
    text-align: center;
}

.pusher {
    width: inherit;
    height: inherit;
    overflow: hidden;

    display: flex;
    flex-flow: column;
}

#template_button{
    width: 30%;
}

#load_button{
    width: 30%;
    margin: 5px auto;
}

#form_edit{
    margin: 5px 5px 5px 5px;
}

#icon.patch{
    display: flex;
}